body {
  font-family: "Grandstander", cursive;
  color: white;
  padding: 50px;
  font-size: 26px;
  background-image: url("../images/notty-bg.jpg");
  background-size: 100%;
}

a {
  color: #0e1213;
  font-size: 20px;
}

.music-icon {
  margin-left: 15px;
  width: 70px;
  height: 70px;
}

.nav-bar {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #00b7ff;
}

.nav:hover {
  text-decoration: underline;
}

.nav {
  margin-left: 80px;
  text-decoration: none;
  font-size: 25px;
}

.logout-nav {
  margin-left: 20px;
}

.login-nav {
  margin-left: 200px;
}

.username-nav {
  margin-left: 120px;
  margin-right: 10px;
  font-size: 20px;
}
.title-nav {
  margin-left: 20px;
  margin-right: 40px;
  font-size: 28px;
  text-decoration: none;
  font-weight: 990;
}

h1 {
  display: flex;
  justify-content: center;
}

.add-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  width: 1000px;
  height: 500px;
  color: black;
}

element.style {
  width: 50px;
}
.edit-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  width: 1000px;
  height: 500px;
  color: black;
}

.delete-btn {
  font-family: "Grandstander", cursive;
  background: #ffffff89;
  font-size: 16px;
  width: 80px;
  height: 30px;
  color: red;
  border-radius: 5px;
}

.edit-btn {
  font-family: "Grandstander", cursive;
  background: #ffffff5e;
  font-size: 16px;
  width: 80px;
  height: 30px;
  color: #f2ff00;
  border-radius: 5px;
}

.detail-btn {
  font-family: "Grandstander", cursive;
  background: #ffffffa1;
  font-size: 16px;
  width: 80px;
  height: 30px;
  color: blue;
  border-radius: 5px;
}
.details-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  width: 200;
  height: fit-content;
  color: black;
  width: 1000px;
  height: 500px;
}

.details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.open-btn {
  font-family: "Grandstander", cursive;
  font-size: 20px;
  font-weight: bold;
  color: #00a6ff;
  width: 150px;
  height: 40px;
  border-radius: 5px;
}
.upload-btn {
  font-family: "Grandstander", cursive;
  font-size: 20px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  left: 650px;
  top: 670px;
}

.file-btn {
  font-family: "Grandstander", cursive;
  font-size: 14px;
  border-radius: 5px;
}

.done-btn {
  font-family: "Grandstander", cursive;
  font-size: 20px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
}

.add-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
