<%- include('../partials/header') %>

<h1>Welcome to Notty Notes</h1>

<% scores.forEach(function(s) { %>
<br />
<%= s.notty %>
<a href="/scores/<%= s._id %>">Details</a>
<br />
<% }); %>
<br />

<%- include('../partials/footer') %>
