<%- include('../partials/header') %>

<h1>My Scores</h1>
<div>
  <% score.forEach(function(s) { %>
  <br />
  <%= s.notty %>
  <br />
  <a href="/scores/<%= s._id %>" class="detail-btn">Details</a>
  <% }); %>
  <div><%- include('../partials/footer') %></div>
</div>
