<%- include('../partials/header') %>
<h1>Add Your Score!</h1>
<div class="add-page">
  <form action="/" method="POST" class="add-form">
    <label class="add-name"
      >Name:
      <input type="text" name="name" />
    </label>
    <br />
    <labe class="add-composer">
      Composer/Artist:
      <input type="text" name="composer" />
    </labe>
    <br />
    <label class="add-key">
      Key:
      <input type="text" name="key" />
    </label>
    <br />
    <label class="add-notty">
      Notty (Give it a label!):
      <input type="text" name="notty" />
    </label>
    <br />
    <label class="add-file">
      <input type="file" names="file" class="file-btn" />
    </label>
    <input type="submit" value="UPLOAD!" class="upload-btn" />
  </form>
</div>
<%- include('../partials/footer') %>
