<%- include('../partials/header') %>
<h1>Add Your Score!</h1>
<form action="/" method="POST" class="add-form">
  <label class="add-name"
    >Name:
    <input type="text" name="name" />
  </label>
  <br />
  <labe class="add-composer">
    Composer:
    <input type="text" name="composer" />
  </labe>
  <br />
  <label class="add-key">
    Key:
    <input type="text" name="key" />
  </label>
  <br />
  <label class="add-notty">
    Notty (Give it a label!):
    <input type="text" name="notty" />
  </label>
  <br />
  <label class="add-file">
    <input type="file" names="file" />
  </label>
  <input type="submit" value="Upload" />
</form>
<%- include('../partials/footer') %>
